/*------------------------------------*
    $TABLE OF CONTENTS
*------------------------------------*/
/**
 * VARIABLES..............................Declarations of Stylus variables
 * .....Colors
 * .....Typography
 * .....Layout
 * .....Defaults
 * .....Breakpoints
 * MIXINS.................................Stylus mixins
 * RESET..................................Set reset defaults
 * GLOBAL CLASSES.........................Set reset defaults
 * GLOBAL ELEMENTS........................Establish global styles
 * .....Main
 * .....Headings
 * .....Text-related elements (p, blockquote, lists)
 * .....Defaults
 * .....Breakpoints
 * TYPOGRAPHY------------------------------
 * MEDIA------------------------------
 * LAYOUT------------------------------
 * NAVIGATION------------------------------
 * TOC To Be Continued
 */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body,
div,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
ol,
ul,
li,
form,
legend,
label,
table,
header,
footer,
nav,
section,
figure {
  margin: 0;
  padding: 0;
}
header,
footer,
nav,
section,
article,
hgroup,
figure {
  display: block;
}
/*------------------------------------*
    $GLOBAL ELEMENTS
*------------------------------------*/
.cf,
.l-two-col,
[role=main] {
  *zoom: 1;
}
.cf:before,
.l-two-col:before,
[role=main]:before,
.cf:after,
.l-two-col:after,
[role=main]:after {
  content: " ";
/* 1 */
  display: table;
/* 2 */
}
.cf:after,
.l-two-col:after,
[role=main]:after {
  clear: both;
}
.is-hidden {
  display: none !important;
  visibility: hidden !important;
}
.is-vishidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
}
.right {
  float: right;
  padding: 0 0 1.6rem 1.6rem;
}
.right-search {
  float: right;
  padding: 0 0 1.6rem 0;
}
.left {
  float: left;
  padding: 0 1.6rem 1.6rem 0;
}
.align-right {
  text-align: right;
}
.align-center {
  text-align: center;
}
.align-left {
  text-align: left;
}
@media all and (max-width: 767px) {
  .hide-small {
    display: none;
  }
}
@media all and (min-width: 768px) and (max-width: 799px) {
  .hide-med {
    display: none;
  }
}
@media all and (min-width: 800px) {
  .hide-large {
    display: none;
  }
}
.valid {
  color: #089e00;
}
.error {
  color: #f00;
}
html {
  font-size: 62.5%;
}
body {
  background: #fff;
  font: 1.6em/1.5 "HelveticaNeue", "Helvetica", "Arial", sans-serif;
  -webkit-text-size-adjust: 100%;
  color: #333;
}
a {
  color: #333;
  text-decoration: none;
  outline: 0;
}
a:hover,
a:focus {
  color: #808080;
}
h1,
.alpha {
  line-height: 1.2;
}
h2,
.beta {
  line-height: 1.2;
}
h3,
.gamma {
  line-height: 1.2;
}
.subheading {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: normal;
}
p {
  margin-bottom: 1.6rem;
}
blockquote {
  font-style: italic;
  border-left: 1px solid #808080;
  color: #808080;
  padding-left: 1.6rem;
  margin-bottom: 1.6rem;
}
hr {
  border: 0;
  height: 2px;
  background: #eee;
  margin: 3.2rem 0;
}
abbr {
  border-bottom: 1px dotted #808080;
  cursor: help;
}
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl {
  overflow: hidden;
  margin: 0 0 1.6rem;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 0;
}
img,
video,
object {
  max-width: 100%;
  height: auto;
}
iframe {
  margin-bottom: 1.6rem;
}
figure {
  margin-bottom: 1.6rem;
}
figure img {
  margin-bottom: 0.4rem;
}
figcaption {
  font-style: italic;
}
form > div {
  margin-bottom: 1.6rem;
}
form ol,
form ul {
  list-style: none;
  margin-left: 0;
}
fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}
label {
  display: block;
  padding-bottom: 0.4rem;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
input,
textarea {
  border: 1px solid #808080;
  padding: 0.8rem 1.04rem;
}
input[type=text],
input[type=search],
input[type=url],
input[type=number],
textarea {
  -webkit-appearance: none;
}
button,
input[type="submit"] {
  padding: 0.8rem;
  background: #333;
  border: 1px solid #808080;
  color: #fff;
  cursor: pointer;
}
input[type="checkbox"],
input[type="radio"] {
  width: auto;
  margin-right: 0.3em;
}
input[type="search"] {
  -webkit-appearance: none;
  border-radius: 0;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
.field-container {
  margin-bottom: 1.6rem;
}
.inline-form fieldset,
.inline-form .inline-container {
  position: relative;
}
.inline-form input[type=submit],
.inline-form button,
.inline-form .btn {
  font-size: 1.4rem;
  padding: 1.04rem 2.08rem;
  background: #333;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: auto;
}
.inline-form input[type=submit]:hover,
.inline-form button:hover,
.inline-form .btn:hover,
.inline-form input[type=submit]:focus,
.inline-form button:focus,
.inline-form .btn:focus {
  background: #808080;
  color: #fff;
}
.inline-search-results-form {
  width: 100%;
}
@media all and (min-width: 768px) {
  .inline-search-results-form {
    width: 82%;
  }
}
.inline-search-results-form fieldset,
.inline-search-results-form .inline-container {
  position: relative;
}
.inline-search-results-form input[type=submit],
.inline-search-results-form button {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: auto;
}
.has-error {
  border-color: #f00;
}
.is-valid {
  border-color: #089e00;
}
.search-field {
  padding-right: 3em;
}
.inline-form .search-submit {
  background: none;
  padding: 0.78em 1em;
  border: 0;
  border-left: 1px solid #808080;
  color: #808080;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #808080;
  width: 100%;
}
th {
  text-align: left;
  border: 1px solid #808080;
  padding: 0.2em;
}
td {
  border: 1px solid #808080;
  padding: 0.2em;
}
.animate-fade {
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -ms-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}
.animate-fade:hover {
  opacity: 0;
}
.animate-move > .demo-shape {
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -ms-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}
/*------------------------------------*
    $LAYOUT
*------------------------------------*/
.lc,
.header,
[role=main] {
  max-width: 115.2rem;
  margin: 0 auto;
  padding: 0.8rem;
}
footer .lc,
footer .header,
footer [role=main] {
  padding: 1.6rem 1.6rem 0;
}
@media all and (min-width: 800px) {
  .l-two-col .l-main {
    float: left;
    width: 70%;
    padding-right: 1.6rem;
  }
}
@media all and (max-width: 799px) {
  .l-two-col .l-sidebar {
    clear: both;
  }
}
@media all and (min-width: 800px) {
  .l-two-col .l-sidebar {
    float: left;
    width: 30%;
    padding: 0 0 0 1.6rem;
  }
}
.g {
  overflow: hidden;
  margin: 0 -0.8rem;
}
.gi {
  padding: 0.8rem;
}
.gi img {
  display: block;
}
@media all and (min-width: 768px) {
  .gi {
    float: left;
  }
}
.g-1up .gi {
  width: 100%;
}
@media all and (min-width: 768px) {
  .g-2up > .gi {
    float: left;
    width: 50%;
  }
  .g-2up > .gi:nth-of-type(odd) {
    clear: left;
  }
}
.g-half > .gi {
  float: left;
  width: 50%;
}
.g-half > .gi:nth-of-type(odd) {
  clear: left;
}
@media all and (min-width: 768px) {
  .g-3up > .gi {
    float: left;
    width: 50%;
  }
  .g-3up > .gi:nth-of-type(2n+1) {
    clear: left;
  }
}
@media all and (min-width: 800px) {
  .g-3up > .gi {
    width: 33.3333333%;
  }
  .g-3up > .gi:nth-of-type(2n+1) {
    clear: none;
  }
  .g-3up > .gi:nth-of-type(3n+1) {
    clear: left;
  }
}
@media all and (min-width: 768px) {
  .g-4up >.gi {
    float: left;
    width: 50%;
  }
  .g-4up >.gi:nth-of-type(2n+1) {
    clear: both;
  }
}
@media all and (min-width: 800px) {
  .g-4up >.gi {
    width: 25%;
  }
  .g-4up >.gi:nth-of-type(2n+1) {
    clear: none;
  }
  .g-4up >.gi:nth-of-type(4n+1) {
    clear: left;
  }
}
.g-quarter > .gi {
  float: left;
  width: 24%;
}
.g-quarter > .gi:nth-of-type(4n+1) {
  clear: left;
}
@media all and (min-width: 576px) {
  .g-max4 >.gi {
    float: left;
    width: 50%;
  }
  .g-max4 >.gi:nth-of-type(2n+1) {
    clear: both;
  }
}
@media all and (min-width: 638px) {
  .g-max4 >.gi {
    width: 33.3333333%;
  }
  .g-max4 >.gi:nth-of-type(2n+1) {
    clear: none;
  }
  .g-max4 >.gi:nth-of-type(3n+1) {
    clear: left;
  }
}
@media all and (min-width: 800px) {
  .g-max4 >.gi {
    width: 25%;
  }
  .g-max4 >.gi:nth-of-type(3n+1) {
    clear: none;
  }
  .g-max4 >.gi:nth-of-type(4n+1) {
    clear: left;
  }
}
.g-max5 >.gi {
  float: left;
  width: 50%;
}
.g-max5 >.gi:nth-of-type(2n+1) {
  clear: both;
}
@media all and (min-width: 638px) {
  .g-max5 >.gi {
    width: 33.3333333%;
  }
  .g-max5 >.gi:nth-of-type(2n+1) {
    clear: none;
  }
  .g-max5 >.gi:nth-of-type(3n+1) {
    clear: left;
  }
}
@media all and (min-width: 768px) {
  .g-max5 >.gi {
    width: 25%;
  }
  .g-max5 >.gi:nth-of-type(3n+1) {
    clear: none;
  }
  .g-max5 >.gi:nth-of-type(4n+1) {
    clear: left;
  }
}
@media all and (min-width: 768px) {
  .g-max5 >.gi {
    width: 20%;
  }
  .g-max5 >.gi:nth-of-type(4n+1) {
    clear: none;
  }
  .g-max5 >.gi:nth-of-type(5n+1) {
    clear: left;
  }
}
@media all and (min-width: 768px) {
  .gi-2-3 {
    float: left;
    width: 66.666666%;
  }
}
@media all and (min-width: 768px) {
  .gi-1-3 {
    float: left;
    width: 33.333333%;
  }
}
.g-opposites .gi {
  float: left;
}
.g-opposites .gi:last-child {
  float: right;
  text-align: right;
}
/*------------------------------------*
    $PAGE STRUCTURE
*------------------------------------*/
.header {
  background: #fff;
  padding: 0;
  border-bottom: 1px solid #dbdbdb;
}
.logo {
  float: left;
  max-width: 12.8rem;
  margin: 0.64rem;
}
@media all and (min-width: 768px) {
  .logo {
    max-width: 14.4rem;
  }
}
.nav-toggle {
  float: right;
  display: block;
  padding: 1.44rem 1.6rem 1.12rem;
  font-size: 2.08rem;
  line-height: 1;
  border-left: 1px solid #dbdbdb;
}
@media all and (min-width: 768px) {
  .nav-toggle {
    display: none;
  }
}
.search-form {
  overflow: hidden;
  max-height: 0;
}
@media all and (min-width: 768px) {
  .search-form {
    float: right;
    max-height: none;
    margin: 0.65em 0.5em 0 0;
  }
}
.nav {
  clear: both;
  overflow: hidden;
  max-height: 0;
}
.nav a {
  display: block;
  padding: 1.6rem;
  border-top: 1px solid #eee;
}
.nav.active {
  max-height: 40em;
}
@media all and (min-width: 768px) {
  .nav {
    max-height: none;
    float: right;
    clear: none;
  }
  .nav li {
    float: left;
  }
  .nav a {
    border: 0;
  }
}
.pagination {
  margin: -1.6rem 0 1.6rem;
  overflow: hidden;
}
.section.comments .pagination {
  margin: 0;
}
.pagination li {
  float: left;
  border-right: 1px solid #eee;
}
.pagination li:last-child {
  border: 0;
}
.pagination a {
  display: block;
  padding: 0 1.6rem;
}
@media all and (max-width: 479px) {
  .pagination a {
    padding: 0 1.4rem;
  }
}
[role=main] {
  padding: 0.8rem 0.8rem 3.2rem;
  overflow: hidden;
}
.footer {
  clear: both;
  overflow: hidden;
  background: #131313;
  color: #fff;
  line-height: 1.2;
}
.footer a {
  color: #f9f9f9;
}
.nav-footer {
  margin: -1.6rem -1.6rem 1.6rem;
}
.nav-footer li {
  border-bottom: 1px solid #333;
}
@media all and (min-width: 768px) {
  .nav-footer li {
    border: 0;
    float: left;
  }
}
.nav-footer a {
  display: block;
  padding: 1.6rem;
}
@media all and (min-width: 768px) {
  .copyright {
    float: right;
  }
}
/*------------------------------------*
    $TEXT Styles
*------------------------------------*/
.font-secondary {
  font-family: Georgia, Times, "Times New Roman", serif;
}
.intro {
  font-size: 1.7rem;
  font-weight: bold;
}
.pullquote {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 2.3rem;
}
.text a {
  text-decoration: underline;
}
.text ul {
  list-style: disc;
  margin: 0 0 1.6rem 1.2em;
}
.text ul ul {
  margin-bottom: 0;
}
.text ol {
  list-style: decimal;
  margin: 0 0 1.6rem 1.2em;
}
.text ol ol {
  margin-bottom: 0;
}
.grade {
  display: block;
  font-weight: bold;
  background: #808080;
  color: #fff;
  min-height: 7.2rem;
  padding-top: 2.4rem;
  text-align: center;
}
.eyebrow {
  background: #333;
  color: #fff;
  padding: 0.2em;
  display: inline-block;
  margin-bottom: 0.8rem;
}
.eyebrow-image {
  position: relative;
}
.eyebrow-image img {
  position: relative;
  z-index: 0;
}
.eyebrow-image .eyebrow {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
/*------------------------------------*
    $COMPONENTS
*------------------------------------*/
@font-face {
  font-family: 'icons';
  src: url("fonts/icons.eot");
  src: url("fonts/icons.eot?#iefix") format("embedded-opentype"), url("fonts/icons.woff") format("woff"), url("fonts/icons.ttf") format("truetype"), url("fonts/icons.svg#icons") format("svg");
  font-weight: normal;
  font-style: normal;
}
[data-icon]:before {
  font-family: 'icons';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-twitter:before,
.icon-stumbleupon:before,
.icon-pinterest:before,
.icon-linkedin:before,
.icon-google-plus:before,
.icon-search:before,
.icon-play:before,
.icon-menu:before,
.icon-arrow-left:before,
.icon-arrow-right:before,
.icon-bubble:before,
.icon-facebook:before,
.icon-feed:before,
.icon-youtube:before,
.icon-tag:before,
.icon-tumblr:before,
.icon-instagram,
.icon-podcast,
.icon-apple,
.icon-android,
.icon-arrow:after,
.icon-envelope:before {
  font-family: 'icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-twitter:before {
  content: "\74";
}
.icon-stumbleupon:before {
  content: "\75";
}
.icon-pinterest:before {
  content: "\70";
}
.icon-linkedin:before {
  content: "\69";
}
.icon-google-plus:before {
  content: "\67";
}
.icon-search:before {
  content: "\73";
}
.icon-play:before {
  content: "\61";
}
.icon-menu:before {
  content: "\21";
}
.icon-arrow-left:before {
  content: "\23";
}
.icon-arrow-right:before {
  content: "\24";
}
.icon-bubble:before {
  content: "\25";
}
.icon-facebook:before {
  content: "\66";
}
.icon-feed:before {
  content: "\27";
}
.icon-youtube:before {
  content: "\79";
}
.icon-tag:before {
  content: "\28";
}
.icon-tumblr:before {
  content: "\6d";
}
.icon-instagram:before {
  content: "\22";
}
.icon-podcast:before {
  content: "\26";
}
.icon-android:before {
  content: "\29";
}
.icon-apple:before {
  content: "\2a";
}
.icon-envelope:before {
  content: "\2b";
}
.icon-arrow:after {
  content: "\61";
  display: inline-block;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.icon-play:before {
  font-size: 1.12rem;
  padding-left: 0.2em;
}
.icon-play-box {
  display: block;
  margin-left: 3.2rem;
}
.icon-play-box:before {
  padding: 0.4rem;
  background: #808080;
  color: #fff;
  margin-left: -2.72rem;
  margin-right: 0.8rem;
}
.btn {
  display: inline-block;
  background: #333;
  color: #fff;
  line-height: 1;
  font-weight: bold;
  padding: 1.6rem;
  border: 0;
  text-align: center;
}
.btn:hover,
.btn:focus {
  color: #fff;
}
.btn.disabled {
  background: #eee;
  color: #bbb;
}
.btn-small {
  padding: 0.8rem;
}
.btn-large {
  padding: 0.8rem;
  text-transform: uppercase;
  background: #808080;
  font-size: 2.24rem;
  font-weight: normal;
}
.text-btn {
  font-style: italic;
}
.brick {
  background: #dcdddc;
  padding: 3.2rem;
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid #eee;
}
.block {
  overflow: hidden;
}
.block p:last-child {
  margin-bottom: 0;
}
.block-hero {
  margin-bottom: 0.8rem;
}
.block-hero .b-thumb img {
  display: block;
}
@media all and (min-width: 800px) {
  .block-hero {
    position: relative;
  }
  .block-hero .b-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,0.5);
    color: #fff;
    padding: 2.4rem;
  }
}
.block-thumb {
  width: 100%;
  border-collapse: collapse;
}
.block-thumb .b-inner {
  display: block;
  overflow: hidden;
}
@media all and (max-width: 575px) {
  .block-thumb .headline {
    font-size: 1.8rem;
  }
}
@media all and (min-width: 480px) {
  .block-thumb .headline {
    float: right;
    padding: 0 1.6rem;
    width: 70%;
  }
}
.block-thumb .b-thumb {
  float: left;
}
@media all and (max-width: 479px) {
  .block-thumb .b-thumb {
    max-width: 30rem;
  }
}
@media all and (min-width: 480px) {
  .block-thumb .b-thumb {
    width: 30%;
  }
}
.block-thumb .b-text {
  float: right;
}
@media all and (max-width: 575px) {
  .block-thumb .b-text p {
    font-size: 1.4rem;
  }
}
@media all and (min-width: 480px) {
  .block-thumb .b-text {
    width: 70%;
    padding: 0 1.6rem;
  }
}
.block-headline-summary a {
  display: block;
  padding: 0.8rem;
}
.block-inset {
  position: relative;
  margin-bottom: 0.8rem;
  position: relative;
}
.block-inset .headline {
  font-size: 1.8rem;
}
.block-inset .b-thumb {
  position: relative;
  z-index: 0;
}
.block-inset .b-thumb img {
  display: block;
}
.block-inset .b-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0,0,0,0.5);
  color: #fff;
  padding: 0.8rem;
}
.hero-and-insets {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.block-hero .inner,
.block-inset .inner {
  display: block;
  position: relative;
}
@media all and (min-width: 480px) and (max-width: 799px) {
  .block-hero,
  .block-inset {
    width: calc(50% - 0.4rem);
  }
  .block-hero .b-thumb {
    padding-top: 75%;
  }
  .block-hero img {
    position: absolute;
    top: 0;
    left: 0;
  }
  .block-hero .b-text {
    background: rgba(0,0,0,0.5);
    color: #fff;
    overflow: hidden;
    padding: 0.8rem;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 7.36rem;
  }
}
@media all and (min-width: 800px) {
  .block-hero {
    width: 100%;
  }
  .block-inset {
    padding-top: 0.8rem;
    width: calc(33.3333333% - 1.0666666rem);
  }
}
.block-thumb-summary .b-thumb {
  float: left;
  width: 50%;
}
.block-thumb-summary .b-text {
  margin-left: 50%;
  padding: 0.8rem;
}
.inline-list li {
  display: inline-block;
}
.social-list li {
  margin: 0 0.64rem 1.6rem 0;
}
.social-list a {
  font-size: 1.6em;
}
.headline-list {
  margin-bottom: 1.6rem;
}
.headline-list.flush {
  margin: 0;
}
.headline-list h4 {
  font-weight: normal;
}
.headline-list li {
  padding: 0.4rem 0;
  border-top: 1px solid #ddd;
}
.post-list li {
  margin-bottom: 1.6rem;
}
.bullet-list {
  list-style: square;
  margin: 0 0 1em 1.2em;
  line-height: 1.3;
}
.bullet-list li {
  margin-bottom: 1.6rem;
}
.text-list {
  margin: 0 0 1em;
  line-height: 1.3;
}
.text-list li {
  margin-bottom: 1.6rem;
}
.tooltip-container {
  display: inline-block;
  position: relative;
}
.tooltip-container:hover .tooltip {
  display: block;
}
.tooltip-link {
  background: #f9f9f9;
}
.tooltip {
  display: none;
  position: absolute;
  top: 1.5em;
  left: 0;
  width: 18em;
  padding: 1.6rem;
  background: #fff;
  border: 1px solid #808080;
  box-shadow: 0.3em 0.3em 1em 0 rgba(0,0,0,0.2);
}
.tooltip h2 {
  margin-top: 0;
}
@media all and (min-width: 480px) {
  .tooltip {
    width: 22em;
  }
}
@media all and (min-width: 576px) {
  .tooltip {
    width: 27em;
  }
}
@media all and (min-width: 638px) {
  .tooltip {
    width: 30em;
  }
}
.accordion {
  margin-bottom: 1.6rem;
}
.acc-handle {
  background: #131313;
  color: #fff;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
  display: block;
  position: relative;
  padding: 0.8rem;
  border-bottom: 1px solid #ddd;
}
.acc-handle:after {
  content: "+";
  float: right;
}
.acc-handle:hover {
  color: #fff;
  background: #333;
}
.acc-handle.active {
  background: #333;
}
.acc-handle.active:after {
  content: "-";
}
.tabs {
  overflow: hidden;
}
.tabs ul {
  display: table;
  width: 100%;
}
.tabs li {
  display: table-cell;
  text-align: center;
  border-right: 1px solid #ddd;
}
.tabs li:last-child {
  border-right: 0;
}
.tabs a {
  display: block;
  padding: 0.8rem;
  background: #808080;
}
.tabs a:hover,
.tabs a:focus {
  background: #ddd;
}
.tabs a.active {
  background: #333;
  color: #fff;
}
.section {
  margin: 0 0 1.6rem;
}
.section-title {
  margin-bottom: 0.8rem;
}
.article-header h1 {
  font-size: 2.5em;
}
.byline {
  font-size: 1.4rem;
  font-style: italic;
  margin-bottom: 0.8rem;
}
.wp-caption-text {
  font-style: italic;
}
.review-summary .grade {
  width: 4.5em;
  float: left;
  margin: 0 0.8rem 0 0;
}
.review-summary .summary-text {
  margin-left: 5em;
}
.social-share {
  overflow: hidden;
  margin-bottom: 1.6rem;
}
.social-share li {
  float: left;
  margin-right: 0.4rem;
}
.social-share a {
  background: #333;
  color: #fff;
  display: block;
  padding: 0.8rem;
}
.social-share a:hover {
  background: #808080;
}
.comments li {
  margin-bottom: 1.6rem;
}
.comment-container {
  overflow: hidden;
  margin-bottom: 1.6rem;
}
.comment-meta {
  float: left;
  width: 6.5em;
}
.comment-meta img {
  display: block;
  border: 1px solid #eee;
  margin-bottom: 0.8rem;
}
.comment-name {
  font-size: 1.2rem;
}
.comment-text {
  margin-left: 9em;
}
.comment-form input[type=text],
.comment-form input[type=email],
.comment-form input[type=url],
.comment-form textarea {
  width: 100%;
}
.alert {
  text-align: center;
  padding: 1.6rem;
  margin-bottom: 0.8rem;
  border: 1px solid #808080;
  background: #f9f9f9;
}
.alert-error {
  color: #f00;
  border-color: #f00;
  background: #ffbebe;
}
