.header
  background: $white
  padding: 0
  border-bottom: 1px solid #dbdbdb
  @extend .lc
.logo
  float: left
  max-width: 12.8rem
  margin: 0.64rem
  @media all and (min-width: $bp-med)
    max-width: 14.4rem
.nav-toggle
  float: right
  display: block
  padding: 1.44rem 1.6rem 1.12rem
  font-size: 2.08rem
  line-height: 1
  border-left: 1px solid #dbdbdb
  @media all and (min-width: $bp-med)
    display: none
.search-form
  overflow: hidden
  max-height: 0
  @media all and (min-width: $bp-med)
    float: right
    max-height: none
    margin: 0.65em 0.5em 0 0
