&lt;div class=&quot;page&quot; id=&quot;page&quot;&gt;
&Tab;{{&gt; organisms-header }}
&Tab;&lt;div role=&quot;main&quot;&gt;
&Tab;&Tab;&lt;h1 class=&quot;section-title&quot;&gt;Our Outdoor Blog&lt;/h1&gt;
&Tab;&Tab;&lt;div class=&quot;l-two-col&quot;&gt;
&Tab;&Tab;&Tab;&lt;div class=&quot;l-main&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&lt;section class=&quot;section latest-posts&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;ul class=&quot;post-list&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;{{# latest-posts}}
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li&gt;{{&gt; molecules-media-block }}&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;{{/ latest-posts}}
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/ul&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a href=&quot;#&quot; class=&quot;text-btn&quot;&gt;View more posts&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/section&gt;
&Tab;&Tab;&Tab;&Tab;{{&gt; molecules-pagination }}
&Tab;&Tab;&Tab;&lt;/div&gt;&lt;!--end l-main--&gt;

&Tab;&Tab;&Tab;&lt;div class=&quot;l-sidebar&quot;&gt;
&Tab;&Tab;&Tab;&Tab;{{&gt; organisms-recent-tweets }}
&Tab;&Tab;&Tab;&lt;/div&gt;&lt;!--end l-sidebar--&gt;
&Tab;&Tab;&lt;/div&gt;&lt;!--end two-col--&gt;
&Tab;&lt;/div&gt;&lt;!--End role=main--&gt;
&Tab;{{&gt; organisms-footer }}
&lt;/div&gt;