*.log
*.tmp*
*~
.*.swp
.DS_Store
/.timestamp
/backend/*
/conf.yml
/extend/
/patternlab-config.json
/pref.yml
/public/*
!/public/package.json
/source
ignore/
node_modules/
!/source/_static/node_modules/
package-lock.json
