.*.swp
.DS_Store
.publish/
/app/test/public/_scripts/pattern-overrider.js
/app/test/source/static/_scripts/pattern-overrider.js
/conf.yml
/install.log
/npm-debug.log
/public/*
!/public/styleguide/
/public/styleguide/data/
/public/styleguide/html/
ignore/
node_modules/
