.*.swp
.DS_Store
.publish/
**/ignore*
conf.yml
install.log
node_modules/
npm-debug.log
patternlab-node/public/*
!patternlab-node/public/data/annotations.js
!patternlab-node/public/styleguide
Thumbs.db
