<!-- Begin .header -->
<header class="header cf" role="banner">
  {{> atoms-_main-logo }}
  <a href="#" class="nav-toggle nav-toggle-search icon-search"><span class="is-vishidden">Search</span></a>
  <a href="#" class="nav-toggle nav-toggle-menu icon-menu"><span class="is-vishidden">Menu</span></a>
  {{! molecules-_main-primary-nav }}
  {{! molecules-_main-search }}
</header>
<!-- End .header -->
