<!-- Begin .header -->
<header class="header cf" role="banner">
	{{> 00-atoms/03-images/00-logo.mustache }}
	<a href="#" class="nav-toggle nav-toggle-search icon-search"><span class="is-vishidden">Search</span></a>
	<a href="#" class="nav-toggle nav-toggle-menu icon-menu"><span class="is-vishidden">Menu</span></a>
	{{> molecules-primary-nav }}
	{{> molecules-search }}
</header>
<!-- End .header -->
