<section class="comments section">
  <div class="comments-container">
    <h2 class="section-title">Selected Comments</h2>
    <ul class="comment-list">
        {{> compounds-single-comment:style-modified }}
        {{> compounds-single-comment:style-modified|styles-modified }}
        {{> compounds-single-comment("description": "We are all in the gutter, but some of us are looking at the stars.") }}
        {{> compounds-single-comment:style-modified("description": "A life is like a garden. Perfect moments can be had, but not preserved, except in memory.") }}
        {{> compounds-single-comment:style-modified|styles-modified("description": "We are all in the gutter. Perfect moments can be had, but not preserved, except in memory.") }}
    </ul>
  </div>
</section>
