<div class="page" id="page">
  {{> 02-components/00-global/00-header }}
  <div role="main">
    {{# emergency }}
      {{> 01-compounds/07-messaging/00-alert }}
    {{/ emergency }}

    <section class="hero-and-insets">
      {{# hero }}
        {{> 01-compounds/02-blocks/02-block-hero }}
      {{/ hero }}

      {{# touts }}
        {{> 01-compounds/02-blocks/05-inset-block }}
      {{/ touts }}
    </section>

    <hr>

    <div class="l-two-col">
      <div class="l-main">
        <section class="section latest-posts">
          <h2 class="section-title">Latest Posts</h2>
          <ul class="post-list">
            {{# latest-posts }}
              <li>{{> 01-compounds/02-blocks/00-media-block }}</li>
            {{/ latest-posts }}
          </ul>
          <a href="#" class="text-btn">View more posts</a>
        </section>
      </div><!--end .l-main-->

      <div class="l-sidebar">
        {{> 02-components/04-sections/01-recent-tweets }}
      </div><!--end .l-sidebar-->
    </div><!--end .l-two-col-->
  </div><!--End role=main-->
  {{> 02-components/00-global/01-footer }}
</div>
