
<!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
{{{ patternLabFoot }}}
<!-- End Pattern Lab -->

  <script src="../../_scripts/src/variables.styl?{{ cacheBuster }}" type="text/javascript"></script>
  <script src="../../_scripts/src/fepper-obj.js?{{ cacheBuster }}"></script>
  <script src="../../_scripts/pattern-overrider.js?{{ cacheBuster }}"></script>
  <script src="../../_scripts/src/init.js?{{ cacheBuster }}"></script>
</body>
</html>

