<!-- Begin .header -->
<header class="header cf" role="banner">
  {{> elements-logo }}
  <a href="#" class="nav-toggle nav-toggle-search icon-search"><span class="is-vishidden">Search</span></a>
  <a href="#" class="nav-toggle nav-toggle-menu icon-menu"><span class="is-vishidden">Menu</span></a>
  {{> compounds-primary-nav }}
  {{> compounds-search }}
</header>
<!-- End .header -->
