;// Variables which can be shared across JavaScript, Stylus, and whatever else.
;// Do not name variables with dollar signs or end lines with semi-colons.
;// Put each variable declaration on its own line. Wrap string values in double
;// quotes. Begin comments with a semi-colon and two slashes. In other words,
;// follow PHP ini syntax.
bp_lg_max = -1
bp_lg_min = 102.4
bp_md_min = 76.8
bp_sm_min = 48
bp_xs_min = 0
