
<!--DO NOT REMOVE-->
{% pattern-lab-foot %}

  <script src="../../scripts/src/variables.styl?{{ cacheBuster }}" type="text/javascript"></script>
  <script src="../../scripts/src/fepper-obj.js?{{ cacheBuster }}"></script>
  <script src="../../scripts/pattern-overrider.js?{{ cacheBuster }}"></script>
</body>
</html>

