
<!--DO NOT REMOVE-->
{{{ patternLabFoot }}}

  <script src="../../_scripts/src/variables.styl?{{ cacheBuster }}" type="text/javascript"></script>
  <script src="../../_scripts/src/fepper-obj.js?{{ cacheBuster }}"></script>
  <script src="../../_scripts/pattern-overrider.js?{{ cacheBuster }}"></script>
</body>
</html>

