/*------------------------------------*
    $VARIABLES
*------------------------------------*/

//Colors
$gray = gray
$gray-light = #f9f9f9
$gray-light-2 = #eeeeee
$gray-light-3 = #dddddd
$gray-light-4 = #bbbbbb
$gray-med = #666666
$gray-dark = #333333
$gray-dark-2 = #131313
$white = white
$black = black

$dim = rgba(0, 0, 0, 0.5)
$dimmer = rgba(0, 0, 0, 0.8)

$error = red
$valid = #089e00

$brand-facebook = #03539e
$brand-twitter = #35ccff
$brand-linkedin = #217bc1

//Typography
$font = "HelveticaNeue", "Helvetica", "Arial", sans-serif
$font-secondary = Georgia, Times, "Times New Roman", serif

$font-size-norm = 1.6rem
$font-size-slightly-larger = 1.7rem
$font-size-slightly-smaller = 1.4rem
$font-size-sm = 1.2rem
$font-size-large = 2.3rem

//Layout
$max-width = 115.2rem
$offset-left-1 = 7.2rem

$l-sidebar-width = 31.6rem

//Defaults
$space = 1.6rem
$space-and-half = $space * 1.5
$space-double = $space * 2
$space-triple = $space * 3
$space-quad = $space * 4
$space-half = $space / 2
$space-quarter = $space / 4
$pad = 1.6rem
$pad-and-half = $pad * 1.5
$pad-double = $pad * 2
$pad-half = $pad / 2
$pad-quarter = $pad / 4

//Borders
$border-med = 3px
$border-thick = 7px

//Breakpoints
$bp-small = unit(bp_sm_min, px) // From patternlab-node/source/scripts/src/variables.styl
$bp-small-2 = 576px
$bp-small-3 = 638px
$bp-med = unit(bp_md_min, px) // From patternlab-node/source/scripts/src/variables.styl
$bp-med-2 = 768px
$bp-large = 800px
$bp-large-2 = unit(bp_lg_min, px) // From patternlab-node/source/scripts/src/variables.styl
$bp-xl = 1168px
$bp-xxl = 1424px
$bp-xxxl = 1488px

//
