
<!--DO NOT REMOVE-->
{% pattern-lab-foot %}

  <script src="../../scripts/src/variables.styl" type="text/javascript"></script>
  <script src="../../scripts/src/fepper-obj.js"></script>
  <script src="../../scripts/pattern-overrider.js"></script>
</body>
</html>

